@charset "utf-8";
/* CSS Document */
body{background:#fafafa;}
*{margin:0;padding:0;}
.wrap{width:1000px;margin:0 auto;}
a{text-decoration:none;color:#000}
li{list-style:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:'';display:block;clear:both;}


.aLine{height:30px;line-height:30px;padding:0 8px;position:relative;}

.aLine a:hover{color:red;}
.aLine h4{font-size:14px;font-weight:normal;width:52px;padding-left:4px;}
.aLine h4 a{color:#07519a;}
.aLine ul{width:670px;;}
.aLine li{float:left;width:15.3%;font-size:14px;color:#333;}
.aLine .huan{width:42px;color:#919191;font-size:12px;position:absolute;right:23px;top:0;}




























