@charset "utf-8";
/* CSS Document */
/*header*/

/*hd_top*/
.box{width:100%;height:34px;border-bottom:1px solid #d6d6d6;background:#fbfbfb;line-height:34px;}
.hd_top{position:relative;}
.madeMain{font-size:12px;color:#666;text-align:center;line-height:22px;float:left;width:109px;height:22px;border:1px solid #ccc;margin:5px 0 0 5px;}
.toolbar{font-size:12px;float:right;}
.toolbar a{color:#666;}
.toolbar a:hover{color:red;}
.toolbar .colorf60{color:#f60;}
.toolbar span{color:#dbccdb;font-weight:bold;margin:0 12px;}
.switch{position:absolute;left:50%;top:0;width:117px;height:34px;margin-left:-58px;}
.switch a{float:left;width:57px;height:34px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;margin-left:-1px;}
.switch a.active{background:#fff;height:35px;}
/*hd_top*/

/*hd*/
.hd{position:relative;height:70px;margin-bottom:3px;}
h1{background:url(../images/01.png) no-repeat left center;width:193px;height:70px;margin-left:14px;text-indent:-999999em;margin-right:65px;}
.weather{width:396px;color:#666;font-size:12px;margin-top:16px;}
.city{padding-top:8px;margin-right:15px;}
.city h3{font-size:14px;}
.today{background:url(../images/0.png) no-repeat;width:105px;height:50px;padding-left:50px;padding-right:5px;}
.today:hover{border:1px solid #ccc;margin-top:-1px;margin-left:-1px;width:104px;}
.today span{display:inline-block;height:22px;padding-top:5px;}
.today b{background:#ff9933;font-weight:normal;}
.tomorrow{height:50px;background:url(../images/2.png) no-repeat;padding-left:60px;margin-right:22px;width:50px;}
.tomorrow:hover{border:1px solid #ccc;margin-top:-1px;margin-left:-1px;width:49px;}
.tomorrow span{display:inline-block;height:22px;padding-top:5px;}
.more{font-size:12px;color:#aaaaab;line-height:38px;}
.time{width:120px;height:52px;border-left:1px solid #ddd;border-right:1px solid #ddd;margin-top:9px;font-size:12px;margin-right:26px;}
.time:hover{border:1px solid #ddd;margin-top:8px;}
.time p{line-height:25px;text-align:center;}
.hd_last{margin-top:9px;}
.hd_last p{font-size:12px;color:#666;line-height:20px;margin-bottom:5px;}
.hd_last span{width:14px;height:20px;}
.hd_last input{width:150px;height:20px;color:#acacac;margin-left:5px;}
/*hd*/

/*hd_bottom*/
.hd_bottom{width:998px;height:108px;border:1px solid #cecece;background:#f6f6f6;margin-bottom:10px;}
.search_hd{margin-left:248px;margin-top:8px;margin-bottom:7px;}
.search_hd li{width:44px;height:22px;font-size:14px;line-height:22px;text-align:center;float:left;margin-left:5px;}
.search_hd li a{color:#323232;display:block;width:44px;height:22px;}
.search_hd li a.over{color:#fff;background:#3eaf0e;opacity:0.5;filter:alpha(opacity=50);}
.search_hd li.active{background:#3eaf0e;}
.search_hd li a.active{color:#fff;}
.search{margin-left:250px;position:relative;margin-bottom:3px;}
.search_input{width:504px;height:39px;margin-right:5px;}
.search_button{width:98px;height:43px;font-size:16px;}
.search_logo{position:absolute;left:-112px;top:2px;}
.main_logo{width:95px;height:35px;background:url(../images/sprit.png) no-repeat 0 -512px;}
.more_logo a{display:block;width:7px;height:4px;background:url(../images/4.png) no-repeat;margin-top:17px;}
.more_logo_content{width:100%;position:absolute;left:0;top:40px;display:none;border:1px solid #ccc;background:#fff;z-index:6;}
.more_logo_content li{height:35px;background:url(../images/sprit.png) no-repeat 0 -512px;border-bottom:1px solid #ccc;}

.search_last{margin-left:250px;background:url(../images/8.png) no-repeat left 6px;padding-left:20px;}
.search_last a:hover{color:red;}
.search_last li{float:left;margin-right:16px;}
.search_last img{width:16px;height:16px;margin-bottom:-4px;margin-right:3px;}
.search_last span{font-size:12px;}
.search_last_more{margin-left:15px;position:relative;}
.search_last_more .unfold{display:block;color:#3eaf0e;width:65px;height:20px;font-size:12px;line-height:20px;background:url(../images/7.png) no-repeat 52px 8px;}
.search_last_more .unfold:hover{background:#3eaf0e;color:#fff;}
.search_last_more_list{width:502px;height:182px;border:1px solid #c9ccd1;position:absolute;right:0;top:35px;overflow:hidden;display:none;background:#fff;z-index:5;}
.search_last_more_list ul{width:504px;margin:4px 0 0 12px;}
.search_last_more_list li{width:104px;height:20px;float:left;margin-right:22px;margin-top:8px;}
.search_last_more_list a:hover{color:red;}
/*hd_bottom*/

/*header*/



/*nav*/
.nav_box{height:38px;border:1px solid #c9cbce;background:#fff;margin-bottom:10px;position:relative;z-index:9px;}
.nav_box div{width:1000px;height:2000px;background:#FFC;position:absolute;left:0;top:47px;display:none;}
.nav{height:36px;}
.nav li{float:left;width:105px;height:38px;border-left:1px dotted #c9cbce;margin-left:-1px;}
.nav li.active{background:#fafafa;border-left:1px solid #c9cbce;border-right:1px solid #c9cbce;border-top:2px solid #54b82a;margin-top:-2px;margin-left:-1px;height:39px;width:104px;}
.nav li.over{background:#CCC;}
.nav li.out{}
.nav li a{display:block;font-size:14px;background:url(../images/6.png) no-repeat 0px 12px;line-height:38px;padding-left:25px;margin-left:12px;}
.music{width:26px;height:16px;border-left:1px dotted #c9cbce;border-right:1px dotted #c9cbce;font-size:12px;background:url(../images/5.png) no-repeat center 5px;padding-top:22px;position:relative}
.music p{border:1px solid #ccc;background:#fff;position:absolute;left:10px;top:45px;font-size:12px;width:85px;height:20px;text-align:center;line-height:20px;display:none;}
.music:hover p{display:block;}
.mucic_last{width:27px;height:38px;background:url(../images/4.png) no-repeat center center;position:relative;}
.mucic_last:hover{background:#f8f8f8;}
.mucic_last:hover ul{display:block}
.mucic_last ul{border:1px solid #c8cacd;position:absolute;top:38px;right:-1px;background:#f8f8f8;display:none;}
.mucic_last li{height:35px;width:102px;border-bottom:1px dotted #c8cacd;text-align:center;line-height:35px;}
.mucic_last li.over{background:#fff;}

/*nav*/

/*main*/
.main{margin-bottom:10px;}

/*main_left*/

.ml_top_box{width:238px;height:203px;border:1px solid #c9c9c9;font-size:14px;color:#333;background:#fcfcfc;overflow:hidden;margin-bottom:10px;}
.ml_top_box ul{padding:11px 0 0 9px;width:230px;}
.ml_top_box li{background:url(../images/9.png) no-repeat;padding-left:23px;width:92px;float:left;margin-bottom:17px;}
.ml_top_box li a:hover{color:red;}

.ml_bottom_box{width:238px;height:117px;border:1px solid #c9c9c9;background:#fcfcfc;margin-bottom:10px;}
.ml_bottom_box img{width:238px;height:60px;}
.ml_bottom_box p{font-size:14px;color#333;line-height:26px;padding-left:10px;}

.ml_main_box{height:1331px;width:238px;border:1px solid #c9c9c9;background:#fcfcfc;}
.ml_main_hd{height:30px;}
.ml_main_hd h3{font-size:14px;color:#3eaf0e;margin:9px 0 0 6px;}
.ml_main_hd a{font-size:12px;color:#666;background:url(../images/10.png) no-repeat;padding-left:20px;margin:9px 9px 0 0;position:relative;}
.ml_main_hd a:hover{color:red;}
.ml_main_hd a div{width:238px;height:500px;background:#FCC;position:absolute;top:30px;right:-9px;display:none;z-index:5;}


.ml_main_content{overflow:hidden}
.ml_main_content ul{height:24px;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;background:#fafafa;width:240px;}
.ml_main_content ul li{float:left;font-size:14px;color:#666;border-right:1px solid #ebebeb;padding:6px 0px 3px 0px;width:59px;position:relative;z-index:2;text-align:center;}
.ml_main_content ul li.active{background:#fff;padding-bottom:3px;border-top:2px solid #54b82a;padding-top:4px;}
.ml_main_content ul li.over{background:#ccc;}

.ml_love_content img{width:238px;height:219px;}
.ml_love_content .open{display:none;}
.ml_love_content .open.come{display:block;}

.ml_last_box{font-size:12px;width:214px;border-top:1px solid #e2e2e2;margin-left:12px;padding-top:8px;}
.ml_last{padding-left:6px;margin-bottom:8px;}
.phonenum{width:85px;height:18px;color:#757575;margin-left:6px;}
.charge{height:22px;width:40px;}
.ml_last_box select{height:22px;}
/*main_left*/

/*main_right*/
.address_box{width:750px;height:318px;border:1px solid #c9c9c9;background:#fff;margin-bottom:10px;}
.address_hd{height:30px;background:#fcfcfc;border-bottom:1px solid #f2f2f2;line-height:30px;}
.address_hd h3{font-size:14px;color:#3eaf0e;margin-left:14px;}
.address_hd a{font-size:12px;color:#999;margin-right:14px;}
.address_hd a:hover{color:red;}

.address_top{height:125px;margin:0 7px;border-bottom:1px dotted #ccc;margin-bottom:5px;}
.address_top.b_b_none{border-bottom:none;height:158px;margin-bottom:0;}
.address_top li{width:14.7%;height:29px;line-height:29px;text-align:center;font-size:14px;float:left;padding:0 7px;}
.address_top li a:hover{color:red;}

.yourlove_box{width:748px;height:213px;border:1px solid #c9c9c9;background:#fff;}
.yourlove_hd{height:26px;border-bottom:1px dotted #e9e9e9;margin:0 5px;}
.yourlove_hd h3{font-size:14px;color:#3eaf0e;line-height:26px;margin-left:6px;}
.yourlove_hd div{padding-top:12px;}
.yourlove_hd div a{float:left;width:5px;height:5px;background:#d3d3d3;margin-right:6px;}
.yourlove_hd div a.active{background:#54b82a;}

.yourlove_content{padding-top:5px;display:none;}
.yourlove_content.come{display:block;}

.joinus_box{width:100%;text-align:center;}
.joinus{display:inline-block;text-align:center;margin:0 auto;}
.joinus a{float:left;font-size:12px;color:#333;line-height:32px;margin:0 8px;}

.mr_main_box{width:748px;border:1px solid #c9c9c9;overflow:hidden;background:#fff;padding-bottom:11px;}
.mr_main_box a:hover{color:red;}

.mr_main_hd{height:30px;background:#fafafa;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4;margin-top:-1px;margin-left:-1px;}
.mr_main_hd a{padding:0 12px 0 11px;margin-top:7px;font-size:14px;color:#07519a;float:left;border-left:1px solid #d8d8d8;}
/*main_right*/

/*service*/
.service_box{margin-left:1px;margin-bottom:10px;}
.service{width:316px;height:223px;border:1px solid #c9c9c9;background:#fcfcfc;padding-left:16px;margin-left:-1px;}
.service a:hover{color:red;} 
.service_hd{margin-bottom:5px;}
.service_hd_left{font-size:14px;color:#3eaf0e;background:url(../images/p7.png) no-repeat;padding-left:22px;margin-top:16px;}
.service_hd_right{font-size:14px;color:#919191;margin:16px 25px 0 0;}
.service_content{font-size:14px;}
.service_content li{float:left;width:59px;height:30px;line-height:30px;}
.service_content li a{color:#333;}
.service_content h4{font-weight:normal;width:52px;height:30px;line-height:30px;padding-left:22px;}
.service_content h4 a{color:#07519a;}

/*service*/

.relax_box{height:302px;width:998px;border:1px solid #c9c9c9;background:#fff;margin-bottom:10px;}
.relax_hd{height:33px;border-bottom:1px solid #f2f2f2;}
.relax_hd_left{width:138px;height:32px;padding-left:22px;}
.relax_hd_center li{font-size:14px;padding-top:10px;float:left;width:80px;text-align:center;padding-bottom:5px;margin:0 8px;}
.relax_hd_center li.active{border-bottom:2px solid #54b82a;}
.relax_hd_center li.active a{color:#3eaf0e;}
.relax_hd_center li.over{border-bottom:2px solid #54b82a;}
.relax_hd_center li a{color:#333;}

.relax_hd_right{}
.relax_hd_right li{float:left;font-size:14px;margin-top:9px;padding:0 18px;border-right:1px solid #e4e4e4;}
.relax_hd_right li.br_none{border-right:none;}
.relax_hd_right li a{color:#333;}
.relax_hd_right li a:hover{color:red;}

.relax_content{padding:0 36px;overflow:hidden;display:none;}
.relax_content.come{display:block;}
.relax_content ul{padding-top:10px;width:1000px;}
.relax_content li{width:165px;height:130px;float:left;margin-right:25px;}
.relax_content li a:hover{color:red;}
.relax_content li img{width:165px;height:96px;}
.relax_content li p{font-size:14px;width:100%;text-align:center;}

/*main*/


.footer{width:100%;height:40px;border:1px solid #7e7e7e;background:#919191;text-align:center;}
.word{display:inline-block;}
.word a{padding:0 7px;}
.word a:hover{color:red;}
.word span,.word a{float:left;line-height:40px;color:#c2c2c2;font-size:12px;}




































































