@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
input{outline:none;}
.clearfix:after{content:'';display:block;clear:both;}
.clearfix {zoom:1;}
.fl{float:left;}
.fr{float:right;}
.h103{height:103px;}
.h102{height:102px;}
.nav ul li .brightnone{border-right:none;}
.nav div p span{display:inline-block;padding:0 15px;}
.wrap{width:930px;margin:0 auto;}