@charset "utf-8";
/* CSS Document */
.z_detailBox{
	width:980px;
	margin:0 auto;
	overflow:hidden;
	padding-bottom:500px;}
.z_bread_nav{
	width:100%;
	height:38px;
	line-height:38px;
	color:#333333;
	font-size:12px;
	border-bottom:solid 1px #eee;}
.z_bread_nav a{
	color:#333333;
	}	
.z_bread_nav a:hover{
	color:#1a7b7b;}	
.z_detailCon{
	width:100%;
	height:505px;}
.z_detailTit{
	font-size:28px;
	font-weight:bold;
	font-family:'microsoft YaHei';
	margin-top:7px;
	margin-left:-8px;}
.z_deal_description{
	font-size:16px;
	margin-top:5px;}
.z_detail_container{
	width:100%;
	margin-top:15px;}	
.z_Dcon_left{
	width:460px;
	margin-right:30px;
	position:relative;}
.z_posPic{
	position:absolute;
	width:123px;
	height:40px;
	left:10px;
	top:-3px;}
.z_posPic span{
	width:40px;
	height:40px;
	background:url(../images/deallist.vb47e168b.png) no-repeat 0 -252px;
}
.z_posPic em{
	width:40px;
	height:40px;
	background:url(../images/deallist.vb47e168b.png) no-repeat 0 -294px;
}
.z_posPic b{
	width:43px;
	height:40px;
	background:url(../images/deallist.vb47e168b.png) no-repeat 0 -336px;
}				
.z_Dcon_left img{
	display:block;}
.z_con_pic{
	width:100%;
	height:280px;
	}	
.z_con_first_image{
	width:78px;
	height:45px;
	border:solid 3px #fff;
	margin-top:14px;}
.z_con_first_image:hover{
	border:solid 3px #f76120;}
.z_Dcon_right{
	width:490px;
	}
.z_detail_price{
height:53px;
border-bottom:solid 1px #eeeeee;
	}	
.z_detail_price{
	font-size:16px; 
	color:#f76120;
	font-family:'Microsoft YaHei';}	
.z_detail_price span{
	font-size:14px;
	margin-top:20px;}
.z_detail_price strong{
	font-weight:bold;
	font-size:25px;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;}
.z_d_cost_price{
	font-size:16px;
	text-decoration:line-through;
	color:#999999;}
.z_component_rating{
	height:38px;
	border-bottom:solid 1px #eeeeee;
	line-height:38px;
	color:#666;}
.z_Sold{
	font-size:16px;
	margin-right:137px;}
.z_Sold span{
	color:#f76120;}	
.z_grade{
	padding-right:25px;
	height:16px;
	}
.z_con_box{
	height:104px;
	border-bottom: 1px #eeeeee solid;
	font-size:12px;}	
.z_component_expiry{
	height:32px;
	line-height:32px;}
.z_component_expiry a{
	color:#999;}	
.z_infor_tit{
	width:70px;}
.z_ads{
	width:140px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;}
.z_integral{
	width:164px;
	height:38px;
	background:url(../images/z_bg1.png) no-repeat 0 bottom;}
.z_qr_Code{
	width:18px;
	height:18px;
	background:url(../images/z_code.png) no-repeat center;}
.z_integral_tit{
	 margin-top:-5px;}
.z_validity{
	height:28px;
	line-height:28px;
	color:#666666;}
.z_validity span{
	color:#f76120;}
.z_use_time{
	height:28px;
	line-height:28px;
	color:#666;}
.z_set_eraser{
	margin-top:19px;
	font-size:12px;}
.z_seteraser_price span{
	width:84px;
	height:27px;
	line-height:27px;
	border:solid 1px #d2d2d2;
	margin-right:5px;
	text-align:center;}
.z_seteraser_price .active{
	border:solid 2px #ff8900; margin-top:-1px;}
.z_detail_count{
	margin-top:18px;
	line-height:32px;
	text-align:center;
	font-size:12px;}	
.z_quantity{
	width:97px;
	height:32px;
	border: solid 1px #dddddd;}
.z_quantity span{
	width:28px;
	height:32px;
	border-right:solid 1px #dddddd;
	text-align:center;
	line-height:32px;
	background:#f0f0f0;}
.zdetail_component_purchase_button{
	font-size:18px;
	margin-top:20px;
	padding-bottom:15px;
	border-bottom:solid 1px #eee;
	}
.zdetail_component_purchase_button input{
	width:169px;
	height:51px;
	background:url(../images/deal-firstscreen.v3cf7208b.png) no-repeat 0 -24px;}
.z_shop_car{
	width:127px;
	height:48px;
	text-align:center;
	line-height:48px;
	color:#00a393;
	background:#f6f6f6;
	border:solid 1px #ebebeb;
	font-size:18px;
	margin-left:10px;}
.z_house{
	margin-top:20px;
	height:14px;
	background:url(../images/deal-firstscreen.v3cf7208b.png) no-repeat 0 -935px;
	margin-left:10px;
	font-size:12px;
	color:#666;
	padding-left:14px;}
.z_share{
	margin-top:20px;
	height:14px;
	background:url(../images/deal-firstscreen.v3cf7208b.png) no-repeat 0 -2057px;
	margin-left:10px;
	font-size:12px;
	color:#666;
	padding-left:14px;}
.z_promise{
	margin-top:15px;
	font-size:12px;
}
.z_promise p{
	margin-right:25px;}
.z_promise a{
	padding-left:22px;
	height:15px;
	line-height:15px;
	color:#666;
	margin-right:24px;}
.z_any_time{
	background:url(../images/deal-firstscreen.v3cf7208b.png) no-repeat -3px -3px;
	height:15px;}
.z_expire{
	background:url(../images/deal-firstscreen.v3cf7208b.png) no-repeat -3px -911px;
	height:15px;}
.z_Rapid{
	background:url(../images/deal-firstscreen.v3cf7208b.png) no-repeat -3px -977px;
	height:15px;}
.z_assess{
	background:url(../images/deal-firstscreen.v3cf7208b.png) no-repeat -3px -1786px;
	height:15px;}
/*---------------------------------------上半部分结束-------------------------------*/
.z_bcon{
	width:980px;
	margin:0 auto;
	padding-top:20px;
}
.z_con_left{
	width:702px;
	padding-top:25px;
	border-top:1px solid #eee;
	overflow:hidden;}
.biz_title{
	border-bottom:solid 2px #babdc2;
	height:32px;
	width:100%;
	font-size:18px;
	}	
.biz_title span{
	margin-left:40px;
	width:54px;
	text-align:left;}
.z_adr{
	width:100%;
	height:38px;
	font-size:14px;
	line-height:38px;
}
.z_adr:hover{
	background:#f5f5f5;}
.z_adr a{
	color:#666;}
.z_adr div{
	}	
.z_adr span{
	width:54px;
	text-align:left;
	margin-left:40px;
	}
.z_purchase{
	color:#f76120;}
.z_bus_infor{
	height:39px;
	line-height:39px;
	background:f5f5f5;
	border:solid 1px #dddddd;
	font-size:14px;
	margin-left:-1px;
	width:700px;}
.z_bus_infor span{
	width:139px;
	height:39px;
	text-align:center;
	border-left:solid 1px #ddd;
	}
.z_bus_infor .active{
	background:#23beb1;
	height:41px;
	border-left:1px solid #23beb1;
	margin-top:-1px;
	line-height:40px;
	color:#fff;
		}	
.z_bus_infor span:hover{
	background:#23beb1;
	height:41px;
	border-left:1px solid #23beb1;
	margin-top:-1px;
	line-height:40px;
	color:#fff;}
.z_Blocation{
	margin-top:38px;}
.z_Blocation h3{
	margin-bottom:10px;}
.z_location_con{
	height:272px;
	background:#fafafa;
	border-bottom:solid 1px #eee;
	border-top:solid 2px #888888;}

.z_location_left{
	width:310px;
	height:251px;
	border:solid 1px #eee;
	margin-top:20px;
	background:#fff;
	margin-right:30px;}
.z_location_left p{
	height:30px;
	line-height:30px;
	background:url(../images/bgbig.png) no-repeat 95px center;
	font-size:12px;
	text-align:center;}
.z_location_right{
	width:285px;
	font-size:12px;}	
.z_tit_adr{
	height:40px;
	line-height:40px;
	font-size:14px;
	font-family:'microsoft YaHei';
	margin-top:20px;
	color:#2bb8aa;}
.z_score{
	height:27px;
	font-size:12px;}
.z_score span{
	margin-top:8px;
	margin-right:5px;}
.z_detail_star{
	width:68px;
	height:12px;
	background:url(../images/bg4.png) no-repeat;}
.z_detail_sco{
	color:#999999;}
.z_adr_text{
	line-height:24px;}
.z_x_adr{
	width:248px;
	color:#666666;}
.z_check_adr{ margin-left:36px;}
.z_check_adr a{
	color:#2bb8aa;
	line-height:24px;
	margin-right:10px;}
.z_tel,.z_subwar{ line-height:24px;}
.z_Purchase_information{
	margin-top:36px;}
.z_buy_tit{
	font-size:18px;
	padding-bottom:14px;
	border-bottom:solid 2px #888;
	font-family:'Microsoft YaHei';}
.z_list_left{
	width:140px;
	height:24px;
	font-size:14px;
	font-family:'microsoft YaHei';
	background:#f9f9f9;
	border-bottom:solid 1px #eeeeee;
	border-right:solid 1px #eee;
	padding:8px 10px;}
.z_list_right{
	width:520px;
	padding:8px 10px;
	border-bottom:solid 1px #eee;
	line-height: 24px;
 	min-height: 24px;
}
.z_thr_tit{
	height:72px;}
.z_single_detaila{
	margin-top:35px;}
.z_delicacy{
	height:36px;
	background:#eee;
	margin-top:10px;
	line-height:36px;
	border-left:solid 4px #2bb8aa;
	padding-left:15px;}
.z_set_meal_con{
	height:36px;
	background:#eee;
	margin-top:10px;
	line-height:36px;
	padding-left:15px;
	}
.z_set_meal_con li{
	width:68px;
	margin-left:50px;
	font-size:14px;
	text-align:center;}
.z_dishes{
	height:37px;
	border-bottom:solid 1px #eeee;
	line-height:37px;
	font-size:14px;}
.z_meat_diet{
	border-right:dashed 1px #eee;
	width:154px;
	margin-right:10px;}
.z_dishes li{
	width:68px;
	margin-left:50px;
	font-size:14px;
	text-align:center;}
.z_single_detaila_price{
	text-align:right;
	font-size:14px;
	border-bottom:solid 1px #eee;
	height:44px;
	line-height:44px;
	}
.z_napkin{
	height:45px;
	line-height:45px;
	}	
.z_practice{
	height:46px;
	line-height:46px;
	margin-top:12px;}
.z_evaluate{
	margin-top:60px;
	height:14px;
	padding-bottom:15px;
	border-bottom:solid 1px #babdc2;
	font-size:14px;
	font-family:'Microsoft YaHei';}
.z_evaluate a{
	color:#2bb8aa;}
.z_grade{
	margin-top:40px;
	margin-bottom:32px;
	font-size:12px;}
.z_all_eva{
	height:32px;
	background:#f4f4f4;
	line-height:32px;
	font-size:12px;
	padding-right:15px;}
.z_eva_right div{
	margin-left:10px;}
.z_eva_right span{
	margin-left:10px;
	border-left:solid 1px #dfdfdf;
	padding-left:10px;}
.z_eva_right input{ margin-top:10px;}
.z_pj{
	height:65px;
	line-height:65px;
	text-align:center;
	width:702px;}
.z_pric_buy{
	height:89px;
	border-top:solid #eee 1px;
	background:#fafafa;}
.z_pric_buy span{
	margin-top:28px;
	font-weight:25px;
	font-weight:bold;
	font-family:'Microsoft YaHei';
	color:#f76120;}
.z_pric_buy ul{
	margin-top:25px;}

.z_pric_buy ul li{
	margin-left:40px;}
.z_pric_buy p{
	font-family:'Microsoft YaHei';
	color:999999;
}
.z_pric_buy b{
	text-decoration:line-through;}
.z_pric_buy div{
	margin-top:22px;
	padding-right:20px;
	}
.z_pric_buy div .z_a_buy{
	width:87px;
	height:40px;
	background:url(../images/z_bg2.png) repeat-x;
	border-radius:5px;
	line-height:40px;
	color:#fff;
	font-size:20px;
	font-family:'Microsoft YaHei';
	text-align:center;
	}
.z_shop_car{
	height:37px;
	width:65px;
	background:url(../images/z_bgcar.png) no-repeat 5px center #f6f6f6;
	border:solid 1px #d4d4d4;
	font-size:12px;
	line-height:37px;
	padding-left:25px;}
.z_interest{
	height:228px;
	border:solid 1px #eee;
	margin-top:10px;
	font-size:12px;}
.z_interest_tit{
	font-family:'Microsoft YaHei';
	font-size:14px;
	margin-left:20px;
	margin-top:20px;}
.z_interest ul{
	margin-left:20px;
	margin-top:10px;
	}
.z_interest_list{
	width:150px;
	}
.z_interest_list a{
	line-height:24px;
	color:#666666;}
.z_interest span{
	color:#f86120;}
.z_interest ul li{
	margin-right:20px;}
.z_meituan_phone{
	margin-top:20px;}

	